<?xml version="1.0"?>
<launch>

<arg name="node_start_delay" default="2.0" />
<arg name="node_start_delay2" default="6.0" />

<!-- <node pkg="f1tenth_gym_ros" type="virtual_wall.py" name="virtual_wall_node" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " output="screen"/> -->

<!--launch-prefix="bash -c 'sleep $(arg node_start_delay2); $0 $@'" -->

<node pkg="f1tenth_gym_ros" type="pure_pursuit.py" name="pure_pursuit_node" output="screen"/>


<!-- <remap from="map" to="map2"/> -->
<include file="$(find f1tenth_gym_ros)/launch/gym_bridge_host.launch"/>

  <!-- Launch local and global planner -->
  <arg name="base_global_planner" default="custom_planner/CustomPlanner"/>
  <arg name="base_local_planner" default="teb_local_planner/TebLocalPlannerROS" />

  <!--<arg name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS" />-->

<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_global_planner" value="$(arg base_global_planner)"/>
    <param name="base_local_planner" value="$(arg base_local_planner)"/>
    <!-- <param name="GlobalPlanner/use_dijkstra" value="true"/> -->  
  <rosparam file="$(find f1tenth_gym_ros)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
  <rosparam file="$(find f1tenth_gym_ros)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
  <rosparam file="$(find f1tenth_gym_ros)/config/local_costmap_params.yaml" command="load" />
  <rosparam file="$(find f1tenth_gym_ros)/config/global_costmap_params.yaml" command="load" />
  <rosparam file="$(find f1tenth_gym_ros)/config/base_local_planner_params.yaml" command="load" />
</node>


<!-- Start GUI for setting initalization parameters. -->
<!--node pkg="rqt_gui" type="rqt_gui" name="rqt_gui"/-->

  </launch>
